<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="styles/style.css">
   
    <title>Primer Parcial</title>
</head>
<body>
    
    <h1 style="text-align: center">Tablero Aplicaciones Web</h1>

    <br> 
    <div class="contenido">

    
    <div class="cuadro_blanco"></div><div class="cuadro_negro"></div> 
    <div class="cuadro_blanco"></div><div class="cuadro_negro"></div>
    <div class="cuadro_blanco"></div><div class="cuadro_negro"></div> 
    <div class="cuadro_blanco"></div><div class="cuadro_negro"></div>
    </div> 
    
    <div class="contenido">
    <div class="cuadro_negro2"></div><div class="cuadro_blanco2"></div> 
    <div class="cuadro_negro2"></div><div class="cuadro_blanco2"></div>
    <div class="cuadro_negro2"></div><div class="cuadro_blanco2"></div> 
    <div class="cuadro_negro2"></div><div class="cuadro_blanco2"></div>
    </div>
    
    
    <div class="contenido">
    <div class="cuadro_blanco"></div><div class="cuadro_negro"></div> 
    <div class="cuadro_blanco"></div><div class="cuadro_negro"></div>
    <div class="cuadro_blanco"></div><div class="cuadro_negro"></div> 
    <div class="cuadro_blanco"></div><div class="cuadro_negro"></div>
    </div> 
  
    
    <div class="contenido">
    <div class="cuadro_negro2"></div><div class="cuadro_blanco2"></div> 
    <div class="cuadro_negro2"></div><div class="cuadro_blanco2"></div>
    <div class="cuadro_negro2"></div><div class="cuadro_blanco2"></div> 
    <div class="cuadro_negro2"></div><div class="cuadro_blanco2"></div>
    </div> 
   
    
    <div class="contenido">
    <div class="cuadro_blanco"></div><div class="cuadro_negro"></div> 
    <div class="cuadro_blanco"></div><div class="cuadro_negro"></div>
    <div class="cuadro_blanco"></div><div class="cuadro_negro"></div> 
    <div class="cuadro_blanco"></div><div class="cuadro_negro"></div>
    
    </div> 
  
    
    <div class="contenido">
    <div class="cuadro_negro2"></div><div class="cuadro_blanco2"></div> 
    <div class="cuadro_negro2"></div><div class="cuadro_blanco2"></div>
    <div class="cuadro_negro2"></div><div class="cuadro_blanco2"></div> 
    <div class="cuadro_negro2"></div><div class="cuadro_blanco2"></div>
    </div> 
   
    
    <div class="contenido">
    <div class="cuadro_blanco"></div><div class="cuadro_negro"></div> 
    <div class="cuadro_blanco"></div><div class="cuadro_negro"></div>
    <div class="cuadro_blanco"></div><div class="cuadro_negro"></div> 
    <div class="cuadro_blanco"></div><div class="cuadro_negro"></div>
    </div> 
  
    
    <div class="contenido">
    <div class="cuadro_negro2"></div><div class="cuadro_blanco2"></div> 
    <div class="cuadro_negro2"></div><div class="cuadro_blanco2"></div>
    <div class="cuadro_negro2"></div><div class="cuadro_blanco2"></div> 
    <div class="cuadro_negro2"></div><div class="cuadro_blanco2"></div> 
    </div> 
    
    
</body>
</html>